
.header{
    
   position: relative;
    background-color: #74A57F;
    padding:10px;
    margin: 0 0 0 0;
    height: 10vh;
    font-weight: 700;
   

}
.buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 0;
    
}
li{
    list-style: none;
    padding: 10px;
    font-size: larger;
    border-radius: 10px;
    color: #074f57;
    
}

li:hover{
    background-color: #074f57;
    cursor: pointer;
    color: #74A57F;
}
body{
    font-family: Arial, sans-serif;
    text-align: justify;
    color: whitesmoke;
    background-color: #74A57F;
    margin: 0;
}
.card{
    box-sizing: border-box;
    border-radius: 10px;
    padding: 0px;
    border-width: 0;
   overflow: hidden;
    width:25%;
    background-color: #077187;
    align-self: self-start;
 
    margin-left: 4%;
    margin-right: 4%;
    
    
}

.card:hover{
border: 3px solid;


border-style: solid;
cursor: pointer;
}

img{
    width: 70vh;
    max-width: 80vw;
    border-radius: 10vw;
    padding-left: 3vw;
    padding-right: 3vw;
}
.about{
    padding-top: 40px;
    padding-bottom: 30px;
    border-radius: 10px;
    margin-left: 5vw;
    margin-right: 5vw;
    display: flex;
    flex-direction: row;
    font-size: large;
    flex-wrap: wrap-reverse;
    justify-content:space-around;
    background-color: #074f57;
    min-height: 75vh;
    margin-bottom: 5vh;
}
.projects{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: 5vw;
    margin-right: 5vw;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-bottom: 20vh;
    width: 80vw;
    text-align: center;
}

.about-text{
    margin-left: 5vw;
    margin-right: 5vw;
    max-width: 50vh;
   
}
@keyframes fadeInUp {
    0% {
      transform: translateY(20vh);
      opacity: 0;
    }
    100% {
      transform: translateY(0vh);
      opacity: 1;
    }
  }
  
  .fadeInUp-animation {
    animation: 1.5s fadeInUp;
  }
@keyframes fadeIn{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}
  .fadeIn-animation{
    animation: 1.5s fadeIn;
  }